/*Colors*/
/*
Light Green: #7ed56f
Medium Green: #55c57a
Dark Green: #28b485
*/

/*universal selector*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*border-box value, declared in body selector, will be inherited to all selectors where box-sizing property is used*/ 
}

html {
    /*font-size: 10px;*/
    font-size: 62.5%; /*62.5% of 16px is 10px*/
}

body {
    font-family: "Lato", sans-serif;
    /*font-size: 16px;*/
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 2.5rem;

    box-sizing: border-box;
}

/*header section starts*/
.header {
    height: 95vh;
    background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nature.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*x y, x y, x y*/
    /*clip-path: ellipse(70% 55% at 34% 56%);*/
}

/*logo section starts*/
.header__logo-container {
    position: absolute;
    left: 4rem;
    top: 4rem;
}

.header__logo {
    height: 3.5rem;
}
/*logo section ends*/

/*banner section starts*/
.header__banner {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*banner heading starts*/
.heading {
    color: white;
    text-transform: uppercase;
}

.heading--primary {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3rem;
    text-align: justify;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .7rem;
    text-align: justify;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading--sub span {
    letter-spacing: .4rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 1;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: 1;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*banner heading ends*/
/*banner button starts*/
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    margin-top: 3rem;
    font-size: 1.6rem;

    transition: all .2s ease-out;
}

.btn--white {
    background-color: white;
    color: black;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(.1rem) scale(.7);
    opacity: 0;
    
}

.btn--animated {
    animation: moveUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*banner button ends*/
/*banner section ends*/
/*header section ends*/