/*universal selector*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*border-box value, declared in body selector, will be inherited to all selectors where box-sizing property is used*/ 
}

html {
    /*font-size: 10px;*/
    font-size: 62.5%; /*62.5% of 16px is 10px*/
}


:root {
    --Light-Green: #7ed56f;
    --Medium-Green: #55c57a;
    --Dark-Green: #28b485;

    --Grey-Light1: #f7f7f7;
    --Grey-Light2: #eee;
    --Grey-Dark: #777;
    --Orange-Light: #ffb900;
    --Orange-Dark: #ff4c15;
    --Blue-Light: #2998ff;
    --Blue-Dark: #5643fa;

    --Color-White: #fff;
    --Color-Black: #000;

    --Grid-Width: 114rem;
    --Gutter-Horizontal: 6rem;
    --Gutter-Vertical: 8rem;

    --default-font-size: 1.6rem;
}

body {
    font-family: "Lato", sans-serif;
    /*font-size: 16px;*/
    font-weight: 400;
    line-height: 1.7;
    color: var(--Grey-Dark);
    padding: 2.5rem;

    box-sizing: border-box;
}

/*header section starts*/
.header {
    height: 95vh;
    background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nature.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*x y, x y, x y, x y*/
    /*clip-path: ellipse(70% 55% at 34% 56%);*/
}

/*logo section starts*/
.header__logo-container {
    position: absolute;
    left: 4rem;
    top: 4rem;
}

.header__logo {
    height: 3.5rem;
}
/*logo section ends*/

/*banner section starts*/
.header__banner {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*banner heading starts*/
.heading {
    color: var(--Color-White);
    text-transform: uppercase;
}

.heading--primary {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3rem;
    text-align: justify;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .7rem;
    text-align: justify;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading--sub span {
    letter-spacing: .4rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 1;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: 1;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*banner heading ends*/
/*banner button starts*/
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    margin-top: 3rem;
    font-size: var(--default-font-size);

    transition: all .2s ease-out;
}

.btn--white {
    background-color: var(--Color-White);
    color: var(--Color-Black);
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(.1rem) scale(.7);
    opacity: 0;
    
}

.btn--animated {
    animation: moveUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*banner button ends*/
/*banner section ends*/
/*header section ends*/

/*main section starts*/
/*utility class section starts*/

/*utility class section ends*/
.util-center-text {
    text-align: center;
}

.util-margin-bottom-big {
    margin-bottom: 8rem;
}

.util-margin-bottom-medium {
    margin-bottom: 4rem;
}

.util-margin-top-medium {
    margin-top: 4rem;
}

.util-margin-bottom-small {
    margin-bottom: 1.5rem;
}

/*about section starts*/
.section-about {
    background-color: var(--Grey-Light1);
    padding: 30rem 0 20rem 0;
    margin-top: -25rem;
}

.section-heading {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--Light-Green), var(--Dark-Green));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}

.row {
    max-width: var(--Grid-Width);
    margin: 0 auto;
    padding: 2rem;

    /*float clearfix new way starts*/
    overflow: hidden;
   /*width: 100%;*/
    /*float clearfix new way ends*/
}

.col-1-of-2 {
    width: calc((100% - var(--Gutter-Horizontal)) / 2);
}

[class^="col-"] {
    float: left;
}

/*float clearfix old way starts*/
[class^="col-"]::after {
    content: "";
    display: table;
    clear: both;
}
/*float clearfix old way ends*/

[class^="col-"]:not(:last-child){
    margin-right: var(--Gutter-Horizontal);
}

.paragraph-heading {
    font-size: var(--default-font-size);
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: var(--default-font-size);
}

.paragraph:not(:last-child){
    margin-bottom: 3rem;
}

.btn-text:link,
.btn-text:visited {
    font-size: var(--default-font-size);
    color: var(--Medium-Green);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--Medium-Green);
    padding: 3px;
    margin: 0 auto;
    border-radius: 0;

    transition: all .2s ease-out;
}

.btn-text:hover {
    color: var(--Color-White);
    background-color: var(--Medium-Green);
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
    position: relative;
}

.composition__photo {
    width: 50%;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    position: absolute;

    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem;
}

.composition__photo--p1 {
    left: 5%;
    top: 3.5rem;
}

.composition__photo--p2 {
    right: 8%;
    top: 5.5rem;
}

.composition__photo--p3 {
    left: 20%;
    top: 10rem;
}

.composition__photo:hover {
    transform: scale(1.05) translate(.5rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    z-index: 20;
    outline: 1.5rem solid var(--Medium-Green);
    
}

.composition:hover .composition__photo:not(:hover){
    transform: scale(.95);
}
/*about section ends*/

/*feature section starts*/
.section-features {
    height: 95vh;
    margin-top: -10rem;
    padding: 20rem 0 20rem 0;
    background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    transform: skewY(-7deg);
    /*clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*x y, x y, x y, x y*/
}

.section-features > * {
    transform: skewY(7deg);
}

.col-1-of-4 {
    width: calc((100% - (3 * var(--Gutter-Horizontal))) / 4);
}


.feature-box {
    background-color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);

    transition: transform .3s;
}

.feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, var(--Light-Green), var(--Dark-Green));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; 
}

.feature-box:hover {
    transform: scale(1.05) translateY(-1.5rem);
}
/*feature section ends*/

/*tours section starts*/
.section-tours {
    background-color: var(--Grey-Light1);
    margin-top: -10rem;
    padding-top: 25rem;
    padding-bottom: 5rem;
}

.col-1-of-3 {
    width: calc((100% - (2 * var(--Gutter-Horizontal))) / 3);
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 52rem;
}

.card__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .8s ease;
}

.card__side--front {
    background-color: var(--Color-White);
}

.card__side--back-1 { 
    transform: rotateY(-180deg);
    background-image: linear-gradient(to right bottom, var(--Orange-Light), var(--Orange-Dark));
}

.card__side--back-2 { 
    transform: rotateY(-180deg);
    background-image: linear-gradient(to right bottom, var(--Light-Green), var(--Dark-Green));
}

.card__side--back-3 { 
    transform: rotateY(-180deg);
    background-image: linear-gradient(to right bottom, var(--Blue-Light), var(--Blue-Dark));
}

.card:hover .card__side--front-1 {
    transform: rotateY(180deg);
}

.card:hover .card__side--back-1 {
    transform: rotateY(0);
}

.card:hover .card__side--front-2 {
    transform: rotateY(180deg);
}

.card:hover .card__side--back-2 {
    transform: rotateY(0);
}

.card:hover .card__side--front-3 {
    transform: rotateY(180deg);
}

.card:hover .card__side--back-3 {
    transform: rotateY(0);
}

.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 65%;
}

.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, .85), rgba(255, 76, 21, .85));
}

.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, .85), rgba(40, 180, 133, .85));
}

.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, .85), rgba(86, 67, 250, .85));
}

.card__picture--1 {
    background-image: linear-gradient(to right bottom, var(--Orange-Light), var(--Orange-Dark)), url(../img/nat-5.jpg);
}

.card__picture--2 {
    background-image: linear-gradient(to right bottom, var(--Medium-Green), var(--Dark-Green)), url(../img/nat-6.jpg);
}

.card__picture--3 {
    background-image: linear-gradient(to right bottom, var(--Blue-Light), var(--Blue-Dark)), url(../img/nat-7.jpg);
}

.card__details {
    padding: 3rem;
}

.card__details ul {
    list-style: none;
    width: 80%;  
    margin: 0 auto; 
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid var(--Grey-Light2);
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    color: var(--Color-White);
    margin-bottom: 8rem;
}

.card__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}

.btn--green {
    background-color: var(--Dark-Green);
    color: var(--Color-White);
    padding-top: 15rem;
}
/*tours section ends*/

/*story section starts*/
.section-stories {
    margin-top: -5rem;
    padding: 15rem 0;
    position: relative;
}

.story {
    width: 75%;
    margin: 0 auto;
    padding: 6rem; 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 3px;
    transform: skewX(-15deg);
}

.story > * {
    transform: skewX(15deg);
}

.story__shape {
    width: 15rem;
    height: 15rem;
    margin-right: 3rem;
    /*background: crimson;*/
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
}

.story__text .paragraph-heading {
    margin-bottom: 1.5rem;
}

.story__text .paragraph {
    /*text-align: justify;*/
}

.story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    transition: all .3s ease-in-out;
    
}

.story:hover .story__image {
    transform: scale(1);
    filter: blur(3px);
}

.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -20%);
}

.section-stories .btn-text{
    margin-top: 5rem;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -5;
    opacity: .15;
}

.bg__content {
    object-fit: cover;
}
/*story section ends*/

/*booking section starts*/

/*booking section ends*/
/*main section ends*/